* {
  border: 0;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
}

.body {
  display: flex;
  justify-content: center;
}

.card {
  border: solid black 1px;
  width: 15em;
  height: 15em;
  margin: 1em 0 1em 0;
}

.card-display {
  display: flex;
  flex-direction: column;
  justify-content: center;
  border: solid black 1px;
  width: 25em;
  height: 25em;
}

#gen-button {
  margin: 0 3px 0 3px;
  padding: 2px 3px 2px 3px;
}

header {
  background-color: red;
  padding-top: 3px;
  margin-bottom: 0.5em;
  border-bottom: solid black 6px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

label {
  color: yellow;
  font-weight: bold;
  outline-color: blue;
}

#logo {
  margin-right: 38em;
}

select {
  margin-top: 13em;
  border: solid 2.5px blue;
}

#sprite {
  width: 200px;
  height: 200px;
}

#sprite-container {
  display: flex;
  justify-content: center;
}

#stat-container {
  display: flex;
  flex-direction: row;
}

#stat-text {
  display: flex;
  flex-direction: column;
  margin-right: 1em;
}

#top-card-container {
  display: flex;
  justify-content: space-between;
}
#types {
  display: flex;
  flex-direction: row;
}

#type-container {
  display: flex;
}

#type-span {
  margin-right: 5px;
}
