* {
  border: 0;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
}

.body {
  display: flex;
  justify-content: center;
}

.card {
  border: solid black 1px;
  width: 15em;
  height: 15em;
  margin: 1em 0 1em 0;
}

.card-display {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 25em;
  height: 25em;
  font-family: sans-serif;
  box-shadow: 0 0 20px 8px #d0d0d0;
  border-radius: 20px;
  margin-top: 1em;
  padding: 1em;
}

#gen-button {
  margin: 0 3px 0 3px;
  padding: 2px 3px 2px 3px;
}

header {
  background-color: red;
  padding-top: 3px;
  margin-bottom: 0.5em;
  border-bottom: solid black 6px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 14em;
}

label {
  color: yellow;
  font-weight: bold;
  outline-color: blue;
}

#logo {
  margin-right: 39em;
  position: fixed;
  left: 43%;
}

.multi-button {
  display: flex;
}

.multi-button button {
  height: 1.5em;
  width: 3.5em;
  font-size: 1rem;
  margin-top: 11.6em;
  padding: 0;
  stroke: black;
  outline: none;
}
.multi-button :nth-child(1) {
  border-radius: 20px 0 0 20px;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
}

.multi-button :nth-child(2) {
  border-top: 1px solid black;
  border-bottom: 1px solid black;
}

.multi-button :nth-child(3) {
  border-radius: 0 20px 20px 0;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
}
button:hover {
  cursor: pointer;
  filter: drop-shadow(3px 5px 5px rgba(0, 0, 0, 0.45));
}
button:active {
  filter: none;
  transform: scale(0.95);
}

nav {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
}

select {
  margin-top: 13.8em;
  margin-right: 5px;
  margin-left: 5px;
  border: solid 2.5px blue;
  border-radius: 20px;
  height: 2em;
}

select:hover {
  filter: drop-shadow(3px 5px 5px rgba(0, 0, 0, 0.45));
}

p#grass {
  background-color: green;
  border: 1px solid black;
  border-radius: 40px;
  padding: 2px 5px 2px 5px;
  color: white;
}

p#poison {
  background-color: purple;
  border: 1px solid black;
  border-radius: 40px;
  padding: 2px 5px 2px 5px;
  color: white;
}

p#fire {
  background-color: orangered;
  border: 1px solid black;
  border-radius: 40px;
  padding: 2px 5px 2px 5px;
  color: white;
}

p#flying {
  background-color: lightblue;
  border: 1px solid black;
  border-radius: 40px;
  padding: 2px 5px 2px 5px;
  color: white;
}
p#water {
  background-color: blue;
  border: 1px solid black;
  border-radius: 40px;
  padding: 2px 5px 2px 5px;
  color: white;
}

p#bug {
  background-color: lightgreen;
  border: 1px solid black;
  border-radius: 40px;
  padding: 2px 5px 2px 5px;
  color: white;
}

p#normal {
  background-color: lightgrey;
  border: 1px solid black;
  border-radius: 40px;
  padding: 2px 5px 2px 5px;
  color: white;
}

p#electric {
  background-color: goldenrod;
  border: 1px solid black;
  border-radius: 40px;
  padding: 2px 5px 2px 5px;
  color: white;
}

p#ground {
  background-color: peru;
  border: 1px solid black;
  border-radius: 40px;
  padding: 2px 5px 2px 5px;
  color: white;
}

p#fairy {
  background-color: plum;
  border: 1px solid black;
  border-radius: 40px;
  padding: 2px 5px 2px 5px;
  color: white;
}

p#psychic {
  background-color: rgb(208, 88, 108);
  border: 1px solid black;
  border-radius: 40px;
  padding: 2px 5px 2px 5px;
  color: white;
}

p#fighting {
  background-color: brown;
  border: 1px solid black;
  border-radius: 40px;
  padding: 2px 5px 2px 5px;
  color: white;
}

p#ghost {
  background-color: darkorchid;
  border: 1px solid black;
  border-radius: 40px;
  padding: 2px 5px 2px 5px;
  color: white;
}

p#dragon {
  background-color: darkviolet;
  border: 1px solid black;
  border-radius: 40px;
  padding: 2px 5px 2px 5px;
  color: white;
}

p#rock {
  background-color: tan;
  border: 1px solid black;
  border-radius: 40px;
  padding: 2px 5px 2px 5px;
  color: white;
}

p#ice {
  background-color: dodgerblue;
  border: 1px solid black;
  border-radius: 40px;
  padding: 2px 5px 2px 5px;
  color: white;
}

p#ghost {
  background-color: mediumpurple;
  border: 1px solid black;
  border-radius: 40px;
  padding: 2px 5px 2px 5px;
  color: white;
}
p#steel {
  background-color: slategray;
  border: 1px solid black;
  border-radius: 40px;
  padding: 2px 5px 2px 5px;
  color: white;
}

p#dark {
  background-color: rgb(117, 62, 62);
  border: 1px solid black;
  border-radius: 40px;
  padding: 2px 5px 2px 5px;
  color: white;
}

#sprite {
  width: 200px;
  height: 200px;
}

#sprite-container {
  display: flex;
  justify-content: center;
}

#stat-container {
  display: flex;
  flex-direction: row;
  font-family: sans-serif;
}

#stat-text {
  display: flex;
  flex-direction: column;
  margin-right: 1em;
}

#top-card-container {
  display: flex;
  justify-content: space-between;
}
#types {
  display: flex;
  flex-direction: row;
}

#type-container {
  display: flex;
}

#type-span {
  margin-right: 5px;
}
